<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="fav.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <title>About Me | UI/UX Designer</title>
  </head>
  <body>
    <header id="header-inner">
      <div class="container">
        <nav id="main-nav">
          <img src="img/logo.png" alt="My Portfolio" id="logo" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about" class="current">About</a></li>
            <li><a href="work">Work</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Section A: Info -->
    <section id="about-a" class="text-center py-3">
      <div class="container">
        <h2 class="section-title">About Me</h2>
        <p class="lead">Let me tell you a little about myself and what I do</p>
        <div class="bottom-line"></div>
        <div class="about-info">
          <img src="img/about.jpg" alt="profile-img" class="bio-image" />
          <div class="bio bg-light">
            <h3>Your Project Is In Safe Hands</h3>
            <div>
              <p>
                I have a wealth of experience in restaurant management, which
                has lead to my customer interaction and man-management skills
                being some of my strongest assets. I believe it is essential
                that clients, project managers and team members are all fully
                satisfied with the product or project being completed. My
                ideology is to work closesly with the client/team leader to
                achieve the desired outcome, although I am equally happy to work
                independantly from a brief if this is what is required.
              </p>
            </div>
            <div>
              <p>
                Although I am relatively new to the field, I have quickly
                developed a passion for coding, picking it up quickly as I go,
                and implementing new skills learned in my projects as I
                progress. My strengths certainly lie in the UX side of
                programming, but I am very comfortable tackling UI tasks and
                take great pride in making aesthetic, user-friendly websites and
                apps.
              </p>
            </div>
          </div>
        </div>
        <!-- The overlay -->
        <div id="cv" class="overlay">
          <!-- Button to close the overlay navigation -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >

          <!-- Overlay content -->
          <div class="overlay-content">
            <img src="img/cv/cv-transp.png" alt="" />
          </div>
        </div>

        <button class="btn-light btn-cv" onclick="openNav()">
          Click here to view my CV
        </button>
      </div>
    </section>

    <!-- Section B: Progress Bars -->
    <section id="about-b" class="bg-dark py-3">
      <div class="container">
        <h2 class="section-title">Technical Skills</h2>
        <div class="bottom-line"></div>
        <div class="tech">
          <div class="tech-item">
            <h4>HTML5 & CSS3</h4>
          </div>
          <div class="tech-item">
            <h4>JavaScript</h4>
          </div>
          <div class="tech-item">
            <h4>Adobe InDesign</h4>
          </div>
          <div class="tech-item">
            <h4>React</h4>
          </div>
          <div class="tech-item">
            <h4>Bootstrap 4</h4>
          </div>
          <div class="tech-item">
            <h4>Node.js</h4>
          </div>
          <div class="tech-item">
            <h4>Express.js</h4>
          </div>
          <div class="tech-item">
            <h4>MongoDB</h4>
          </div>
          <div class="tech-item">
            <h4>Git</h4>
          </div>
          <div class="tech-item">
            <h4>npm / yarn / npx</h4>
          </div>
          <div class="tech-item">
            <h4>Jest</h4>
          </div>
          <div class="tech-item">
            <h4>Babel</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- Section C: Logos -->
    <section id="about-c" class="py-4 bg-light">
      <div class="container">
        <div class="about-logos">
          <i class="fab fa-html5 fa-4x"></i>
          <i class="fab fa-css3-alt fa-4x"></i>
          <i class="fab fa-js fa-4x"></i>
          <i class="fab fa-bootstrap fa-4x"></i>
          <i class="fab fa-node fa-4x"></i>
          <i class="fab fa-react fa-4x"></i>
        </div>
        <div class="about-logos">
          <i class="fab fa-github-square fa-4x"></i>
          <i class="fab fa-npm fa-4x"></i>
          <i>
            <span
              class="iconify"
              data-icon="file-icons:adobe-indesign"
              data-inline="false"
            ></span>
          </i>
          <i>
            <span
              class="iconify"
              data-icon="file-icons:jest"
              data-inline="false"
            ></span>
          </i>
          <i>
            <span
              class="iconify"
              data-icon="file-icons:babel"
              data-inline="false"
            ></span>
          </i>
          <i>
            <span
              class="iconify"
              data-icon="simple-icons:mongodb"
              data-inline="false"
            ></span>
          </i>
        </div>
      </div>
    </section>

    <section id="about-d" class="py-4">
      <div class="container">
        <h2 class="section-title">Courses</h2>
        <div class="bottom-line"></div>
        <p class="lead text-center">
          Since I began coding I have completed the following online courses on
          Udemy
        </p>

        <div class="courses">
          <a
            href="https://www.udemy.com/course/react-2nd-edition"
            class="course-item"
          >
            <h4>Complete React Developer Course</h4>
            <p>With Hooks & Redux</p>
            <p>- 39 Hours Content</p>
            <ul>
              <li><img src="img/courses/course1.jpg" alt="" /></li>
              <li class="tutor">Andrew Mead</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/advanced-css-and-sass"
            class="course-item"
          >
            <h4>Advanced CSS and Sass</h4>
            <p>Flexbox, Grid & Responsive Design</p>
            <p>- 28 Hours Content</p>
            <ul>
              <li><img src="img/courses/course2.jpg" alt="" /></li>
              <li class="tutor">Jonas Schmedtmann</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/the-web-developer-bootcamp"
            class="course-item"
          >
            <h4>The Web Developer Bootcamp</h4>
            <p>Including Node, Express and MongoDB</p>
            <p>- 61.5 Hours Content</p>
            <ul>
              <li><img src="img/courses/course3.jpg" alt="" /></li>
              <li class="tutor">Colt Steele</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/javascript-the-complete-guide-2020-beginner-advanced"
            class="course-item"
          >
            <h4>JavaScript - The Complete Guide</h4>
            <p>Beginner and Advanced Modern JS in 2020</p>
            <p>- 61 Hours Content Hours Content</p>
            <ul>
              <li><img src="img/courses/course4.jpg" alt="" /></li>
              <li class="tutor">Max Schwarzmüller</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/javascript-the-basics-for-beginners"
            class="course-item"
          >
            <h4>JavaScript Beginner Bootcamp</h4>
            <p>Up-to-Date ES6 Syntax</p>
            <p>- 38.5 Hours Content</p>
            <ul>
              <li><img src="img/courses/course5.jpg" alt="" /></li>
              <li class="tutor">Rob Merrill</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/modern-html-css-from-the-beginning"
            class="course-item"
          >
            <h4>Modern HTML and CSS</h4>
            <p>Including Grid, Flexbox & Sass</p>
            <p>- 21 Hours Content</p>
            <ul>
              <li><img src="img/courses/course6.jpg" alt="" /></li>
              <li class="tutor">Brad Traversy</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2"
            class="course-item"
          >
            <h4>The Complete NodeJS Dev Course</h4>
            <p>Including MongoDB & Jest</p>
            <p>- 35 Hours Content</p>
            <ul>
              <li><img src="img/courses/course7.jpg" alt="" /></li>
              <li class="tutor">Andrew Mead</li>
            </ul>
          </a>
          <a
            href="https://www.udemy.com/course/bootstrap-4-from-scratch-with-5-projects"
            class="course-item"
          >
            <h4>Bootstrap 4</h4>
            <p>Using HTML5 Semantics and CSS3</p>
            <p>- 11.5 Hours Content</p>
            <ul>
              <li><img src="img/courses/course8.jpg" alt="" /></li>
              <li class="tutor">Brad Traversy</li>
            </ul>
          </a>
        </div>
      </div>
    </section>

    <footer id="main-footer">
      <div class="footer-content container">
        <a
          class="contact-detail"
          href="https://github.com/JakeReadman/"
          target="_none"
        >
          <i class="fab fa-github"></i>
          <p>GitHub</p>
          <p>JakeReadman</p>
        </a>
        <a
          class="contact-detail"
          href="mailto: jakereadman@gmail.com"
          target="_none"
        >
          <i class="fas fa-envelope"></i>
          <p>Email</p>
          <p>jakereadman@gmail.com</p>
        </a>
        <a class="contact-detail" href="tel: +447595870150">
          <i class="fas fa-phone"></i>
          <p>Phone</p>
          <p>07595 870150</p>
        </a>
        <a
          class="contact-detail"
          href="https://www.linkedin.com/in/jake-readman-7849751b9"
          target="_none"
        >
          <i class="fab fa-linkedin"></i>
          <p>LinkedIn</p>
          <p>Jake Readman</p>
        </a>
      </div>
    </footer>

    <script src="js/overlay.js"></script>
  </body>
</html>
