<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="fav.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
    <title>Jake Readman | UI/UX Designer</title>
  </head>
  <body>
    <header id="header-home">
      <div class="container">
        <nav id="main-nav">
          <img src="img/logo.png" alt="My Portfolio" id="logo" />
          <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="work">Work</a></li>
          </ul>
        </nav>
        <div class="header-content">
          <h1>
            I Am Jake The
            <span
              class="txt-type"
              data-wait="3000"
              data-words='["Manager", "Website Builder", "Software Developer"]'
            ></span>
          </h1>
          <p class="lead">
            Restaurant Operations Manager turned Programmer looking to progress
            & further develop
          </p>
          <a href="work" class="btn-light">View My Work</a>
        </div>
      </div>
    </header>

    <!-- Section A: Specialise -->
    <section id="home-a" class="text-center py-2">
      <div class="container">
        <h2 class="section-title">My Key Strengths</h2>
        <div class="bottom-line"></div>
        <p class="lead">
          Front-end development, aiming to progress to full-stack
        </p>
        <div class="specials">
          <div>
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
            <h3>Fast Learner</h3>
            <p>
              Since beginning learning to code in March 2020 I have gained a
              firm grasp on CSS3, HTML5 and Vanilla JS, while currently further
              developing my knowledge in JS libraries & frameworks such as React
              and Express.
            </p>
          </div>
          <div>
            <i class="fas fa-edit fa-2x"></i>
            <h3>Content Writing & Editing</h3>
            <p>
              I have a dimploma in Multimedia Journalism and have ran several
              social media accounts, so am able to proficiently articulate and
              revise subject matter for clients in addition to the design and
              layout of a website.
            </p>
          </div>
          <div>
            <i class="fas fa-users-cog fa-2x"></i>
            <h3>Management</h3>
            <p>
              My previous employment background is in Restaurant Management,
              operating busy, successful venues whilst overseeing large teams. I
              work well in a group or solo, while always providing excellent
              customer service.
            </p>
          </div>
          <div>
            <i class="fas fa-thumbs-up fa-2x"></i>
            <h3>Determination</h3>
            <p>
              Very little will phase me - working in hospitality has taught me
              to think on my feet in high-pressure situations, and I am not
              afraid of hard work! Starting in this new field has invigorated me
              and I am driven to be a success.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="home-c" class="text-center py-2">
      <div class="container">
        <h2 class="section-title">My Creative Process</h2>
        <div class="bottom-line"></div>
        <p class="lead">
          I use a practiced formula to achieve the desired result for all my
          projects.
        </p>
        <div class="process">
          <div>
            <i class="fas fa-file-alt fa-4x process-icon my-2">
              <div class="process-step">1</div>
            </i>
            <h3>Discuss The Project</h3>
            <p>
              Face-to-face with a client or team leader to outline their
              requests and requirements regarding design, content and
              functionality.
            </p>
          </div>
          <div>
            <i class="fas fa-desktop fa-4x process-icon my-2">
              <div class="process-step">2</div>
            </i>
            <h3>Brainstorming and Context</h3>
            <p>
              Present a selection of options as a result of the initial
              discussion to refine the original ideas to a desired final
              proposal.
            </p>
          </div>
          <div>
            <i class="fas fa-object-ungroup fa-4x process-icon my-2">
              <div class="process-step">3</div>
            </i>
            <h3>UI/UX Planning</h3>
            <p>
              Take the plan from brainstorm and implement to create interface
              and functionality, ensuring the relevant libraries or frameworks
              are used.
            </p>
          </div>
          <div>
            <i class="fas fa-thumbs-up fa-4x process-icon my-2">
              <div class="process-step">4</div>
            </i>
            <h3>Interaction</h3>
            <p>
              Before deployment satisfatcion with the final product is
              essential. This is the step to iron out any interface snags or
              functional bugs.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer id="main-footer">
      <div class="footer-content container">
        <a
          class="contact-detail"
          href="https://github.com/JakeReadman/"
          target="_none"
        >
          <i class="fab fa-github"></i>
          <p>GitHub</p>
          <p>JakeReadman</p>
        </a>
        <a
          class="contact-detail"
          href="mailto: jakereadman@gmail.com"
          target="_none"
        >
          <i class="fas fa-envelope"></i>
          <p>Email</p>
          <p>jakereadman@gmail.com</p>
        </a>
        <a class="contact-detail" href="tel: +447595870150">
          <i class="fas fa-phone"></i>
          <p>Phone</p>
          <p>07595 870150</p>
        </a>
        <a
          class="contact-detail"
          href="https://www.linkedin.com/in/jake-readman-7849751b9"
          target="_none"
        >
          <i class="fab fa-linkedin"></i>
          <p>LinkedIn</p>
          <p>Jake Readman</p>
        </a>
      </div>
    </footer>

    <script src="js/typewriter.js"></script>
  </body>
</html>
