<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="fav.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
    <title>My Work | Full-Stack Developer</title>
  </head>
  <body>
    <header id="header-inner">
      <div class="container">
        <nav id="main-nav">
          <img src="img/logo.png" alt="My Portfolio" id="logo" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="work" class="current">Work</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Section A: Gallery -->
    <section id="work-a" class="text-center py-3">
      <div class="container">
        <h2 class="section-title">My Work</h2>
        <div class="bottom-line"></div>
        <p class="lead">Check out some of my projects</p>
        <div class="items">
          <a
            href="https://rosiesrevamps.herokuapp.com/"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item1.png" alt="rosiesrevamps" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Design & Build</p>
                <h2 class="item-text-title">Static Website for Client</h2>
              </div>
            </div>
          </a>
          <a
            href="https://jakereadman.github.io/knowledge-timeline/"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item2.png" alt="knowledge-timeline" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Knowledge Timeline App</p>
                <h2 class="item-text-title">Pure CSS</h2>
              </div>
            </div>
          </a>
          <a
            href="http://brightonrestaurantreviews.com"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img
                src="img/items/item3.png"
                alt="brighton-restaurant-reviews-logo"
              />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Brighton Restaurant Reviews</p>
                <h2 class="item-text-title">
                  Full-Stack PHP Project for Client
                </h2>
              </div>
            </div>
          </a>
          <a href="http://www.slamtacos.com/" target="_none" class="item">
            <div class="item-image">
              <img src="img/items/item4.png" alt="slamtacos" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Design & Build</p>
                <h2 class="item-text-title">Static Website for Client</h2>
              </div>
            </div>
          </a>
          <a
            href="https://uncertainty-app.herokuapp.com/"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item5.png" alt="Uncertainty-App" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Uncertainty App</p>
                <h2 class="item-text-title">Full-Stack React App</h2>
              </div>
            </div>
          </a>
          <a
            href="https://jakereadman.github.io/magic-eight-ball/"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item6.png" alt="magic-eight-ball" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Magic 8 Ball App</p>
                <h2 class="item-text-title">Pure CSS and JS</h2>
              </div>
            </div>
          </a>
          <a
            href="https://jakereadman.github.io/RGB-colour-guessing-game/"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item7.png" alt="RGB-colour-guessing-game" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Colour Guessing Game</p>
                <h2 class="item-text-title">Pure CSS & JS</h2>
              </div>
            </div>
          </a>
          <a
            href="https://expensify-readman.herokuapp.com"
            target="_none"
            class="item"
          >
            <div class="item-image">
              <img src="img/items/item8.png" alt="expensify-app" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Expensify App</p>
                <h2 class="item-text-title">Full-Stack React App</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <footer id="main-footer">
      <div class="footer-content container">
        <a
          class="contact-detail"
          href="https://github.com/JakeReadman/"
          target="_none"
        >
          <i class="fab fa-github"></i>
          <p>GitHub</p>
          <p>JakeReadman</p>
        </a>
        <a
          class="contact-detail"
          href="mailto: jakereadman@gmail.com"
          target="_none"
        >
          <i class="fas fa-envelope"></i>
          <p>Email</p>
          <p>jakereadman@gmail.com</p>
        </a>
        <a class="contact-detail" href="tel: +447595870150">
          <i class="fas fa-phone"></i>
          <p>Phone</p>
          <p>07595 870150</p>
        </a>
        <a
          class="contact-detail"
          href="https://www.linkedin.com/in/jake-readman-7849751b9"
          target="_none"
        >
          <i class="fab fa-linkedin"></i>
          <p>LinkedIn</p>
          <p>Jake Readman</p>
        </a>
      </div>
    </footer>
  </body>
</html>
